
body {

  font-family: 'Open Sans', sans-serif;

}

ul {

  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {

float: left;

}

li a {

  padding: 10px;
  background-color: lime;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1em;

}

h1 {

  clear: both;

}
