.body.home {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-image: url("https://static1.squarespace.com/static/58b481f0d2b857c893183a60/t/59ce4e4fd55b41fadb48d0a6/1506692691847/Banner+Shoes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


/****************************
HEADERS && PARAGRAPHS
***************************/

h1 {
  color: white;
  text-shadow: 4px 4px 8px #000000;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 4.75em;
}

h2 {
  color: white;
  margin: 20px 0px 30px 0px;
  text-shadow: 4px 4px 8px #000000;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 1.75em;
}

h3 {
  color: #d5df4d;
  font-weight: bold;
  font-size: 2em;
}

h4 {
  color: #d5df4d;
  font-size: 2.5vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  color: 	#A9A9A9;
  text-align: left;

}

/****************************
NAVIGATION
***************************/

.navbar {
  background-color: #fffff4;
  border-color: #fffff4;
}

.navbar-inverse .navbar-nav > li > a {
  color : #d5df4d;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 1.75em;
  letter-spacing: .5em;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    background-color: #d5df4d;
    border-style: none;
    margin-top: 18px;

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fffff4;
    background-color: #d5df4d;
}

  #logo {
    width: 50vw;
    height: auto;
    max-width: 200px;
    max-height: auto;
    margin-top: 4%;
}

#logoMini {
  height: 20%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: none;


}
/****************************
CONTAINERS
***************************/

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

}

.primary {
  text-align: center;
  margin-top: -20px;
}

/****************************
BUTTON
***************************/

.button {
    background-color: transparent;
    color: #d5df4d;
    letter-spacing: .2em;
    font-weight:bold;
    border: 2px solid #d5df4d;;
    border-radius: 4px;
    padding: 20px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button.submit {
    font-size: 15px;
    margin: 8% auto;
    display: block;
    padding: 10px 10px;

}

.button:hover {
    background-color: #d5df4d;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

/****************************
POPUP FORM
***************************/

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.regForm {
    background-color: #fffff4;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 50%;
    min-width: 450px;
    text-align: justify;
    overflow-x: hidden;
}

.formClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.formClose:hover,
.formClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formContent {
  margin: 5% 10%;
}

input[type="text"] {
  width: 47%;
  margin-right: 2%;
}

/****************************
ABOUT PAGE
***************************/

.body.about {

  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #fffff4;
  text-align: center;
}

.aboutImage {
  position: relative;
  text-align: center;
  color: white;
}

.imgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 4px 4px 8px #000000;
  font-weight: bold;
  line-height: 110%;
  font-size: 4.75vw;
}

.primaryImg {
  width: 90vw;
}

.aboutDiv {
  margin: 8% 10% 0 10%;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.aboutSecondary {
  flex: 3;
  min-width: 200px;
  margin: 0 5%;
}

.classesPrimary {
  margin: 5% 10%;
}

#director {
  margin-bottom: -4.5%;
  width: 100%;
  border-radius: 2px;
}

/****************************
Media Queries
***************************/

@media (max-width: 400px) {

  .aboutDiv {
    display: block;
  }

  h4 {
    font-size: 2.4em;
  }

  .imgText {
    display: none;
  }

  #logoMini {
    display: block;
  }

  .aboutImage {
    display: none;
  }

  .regForm {
      border-radius: 25px;
      width: 95%;
      min-width: auto;
      margin: 2% auto;
  }
