/****************************
BODY
***************************/

body {
    margin: 0 0 5% 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #fffff4;
}

.body.index {
    background-image: url("https://static1.squarespace.com/static/58b481f0d2b857c893183a60/t/59ce4e4fd55b41fadb48d0a6/1506692691847/Banner+Shoes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

/****************************
TEXT
***************************/

p {
    font-family: 'Open Sans', sans-serif;
    margin: 3% 0;
    font-size: 1.4em;
    color: 	#A9A9A9;
    text-align: left;
}

h1 {
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 4.75em;
}

h2 {
    color: white;
    margin: 20px 0px 30px 0px;
    text-shadow: 4px 4px 8px #000000;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 1.75em;
}

h3 {
    color: #d5df4d;
    font-weight: bold;
    font-size: 2em;
}

h4 {
    color: #d5df4d;
    font-size: 2.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-weight: bold;
    line-height: 110%;
    font-size: 4.75vw;
}

/****************************
NAVIGATION
***************************/

.navbar {
    background-color: #fffff4;
    border-color: #fffff4;
}

.navbar-inverse .navbar-nav > li > a {
    color : #d5df4d;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 1.75em;
    letter-spacing: .5em;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    background-color: #d5df4d;
    border-style: none;
    margin-top: 18px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fffff4;
    background-color: #d5df4d;
}

/****************************
CONTAINERS
***************************/

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
    margin-top: -20px;
}

.imgContainer {
    position: relative;
    text-align: center;
    color: white;
}

.flexContainer {
    margin: 5% 10%;
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.primaryCol {
    margin: 0 5%;
}

.primaryCol.classes {
  margin: 0 10%;
}

.secondaryCol {
    flex: 3;
    min-width: 20vw;
    margin: 0 5%;
}

/****************************
BUTTON
***************************/

.button {
    background-color: transparent;
    color: #d5df4d;
    letter-spacing: .2em;
    font-weight:bold;
    border: 2px solid #d5df4d;;
    border-radius: 4px;
    padding: 20px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button.subm {
    font-size: 15px;
    margin: 8% auto;
    display: block;
    padding: 10px 10px;

}

.button:hover {
    background-color: #d5df4d;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.button.solid {
  padding: 15px 23px;
}

.button.solid:hover {
    text-shadow: none;
}

/****************************
FORM
***************************/

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.formContainer {
    background-color: #fffff4;
    margin: 1% auto;
    border: 1px solid #888;
    border-radius: 25px;
    border-color: transparent;
    text-align: justify;
    overflow-x: hidden;
    width: 60%;
    min-width: 60%;
}

.formClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 2%;
}

.formClose:hover, .formClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin: 5% 7%;
}

input {
    margin: 3% 1% 3% 0;
}

input[type="text"] {
    width: 46%;
}

/****************************
Images
***************************/

#logo {
    width: 50vw;
    height: auto;
    max-width: 200px;
    max-height: auto;
    margin-top: 4%;
}

#logoMini {
    height: 20%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#director {
    margin-bottom: -4.5%;
    width: 100%;
    border-radius: 2px;
}

.primaryImg {
    width: 90vw;
}

.primaryImgMQ {
    display: none;
}

/****************************
TABLE
***************************/

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border-color: transparent;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: 	#A9A9A9;
    padding: 1% 0;
}

th {
    text-align: left;
}

/****************************
Media Queries
***************************/

@media (max-width: 580px) {

  .flexContainer {
        display: block;
  }

  .formContainer {
        border-radius: 25px;
        width: 95%;
        min-width: auto;
        margin: 2% auto;
  }

  h4 {
        font-size: 2.4em;
        margin: 10% 0;
  }

  h3 {
        font-size: 2.4em;
        margin: 10% 0;
  }

  br {
        display: none;
  }

  #logoMini {
        display: block;
  }

  #director {
        max-width: 300px;
  }

  .primaryImg {
        display: none;
  }

  .primaryImgMQ {
        display: block;
        width: 100vw;
  }

@media (max-width: 350px) {

    input[type=text] {
        display: block;
        width: 100%;
  }

}
